# LOOPS IN PYTHON

In [1]:
import numpy as np

In [2]:
ar = np.array(list(range(2,31,1)))
for i in ar:
    if i % 4 == 0:
        print(i)

4
8
12
16
20
24
28

In [3]:
ar
for ii in ar:
    print(ii,"+",ii+1,"=",ii + (ii+1))

2 + 3 = 5
3 + 4 = 7
4 + 5 = 9
5 + 6 = 11
6 + 7 = 13
7 + 8 = 15
8 + 9 = 17
9 + 10 = 19
10 + 11 = 21
11 + 12 = 23
12 + 13 = 25
13 + 14 = 27
14 + 15 = 29
15 + 16 = 31
16 + 17 = 33
17 + 18 = 35
18 + 19 = 37
19 + 20 = 39
20 + 21 = 41
21 + 22 = 43
22 + 23 = 45
23 + 24 = 47
24 + 25 = 49
25 + 26 = 51
26 + 27 = 53
27 + 28 = 55
28 + 29 = 57
29 + 30 = 59
30 + 31 = 61

In [4]:
i = 0
while i < len(ar):
    print(ar[i])
    i = i + 1

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [5]:
user_pass = input("Input password")

Input password eddy

In [6]:
user_pass1 = input("Input password")
i = 0
while user_pass1 != user_pass:
    print("Incorrect password,try again!")
    i = i + 1
    if i == 5:
        print("Your account has been blocked!!")
        break
    else:
        user_pass1 = input("Input password")

Input password eddy

In [7]:
import pandas as pd

In [8]:
data = pd.read_excel("mol_properties.xlsx")
data.head(3)

,formula,compounds,cas,molar_weigth,tfp_k,Tb(K),Tc(K),Pc(bar),Vc(cm3/mol),zc,...,cp_a4,cpig,cpliq,antoine_a,antoine_b,antoine_c,pvpmin_bar,tmin_k,pvpmax_bar,tmax_k
0,He,helium-3,14762-55-1,3.017,1.01,3.33,3.31,1.14,72.5,0.300,...,0.000000e+00,20.79,NaN,1.39750,5.5940,273.84,0.02,1.12,2.0,4.41
1,He,helium,7440-59-7,4.003,2.15,4.30,5.19,2.27,57.3,0.301,...,0.000000e+00,20.79,NaN,1.68360,8.1548,273.71,0.02,1.85,2.0,5.34
2,H2,hydrogen,1333-74-0,2.016,13.83,20.27,32.98,12.93,64.2,0.303,...,-2.130000e-12,28.84,NaN,2.93954,66.7954,275.65,0.05,10.25,2.0,22.82

In [22]:
M = data.molar_weigth.values
form = data.formula.values
M_arr = []
for i in M:
    if i > 15 and i < 40:
        M_arr.append(i)

In [32]:
M_arr1 = np.array(M_arr)
M_arr1

array([20.18 , 28.014, 28.01 , 37.997, 39.948, 31.999, 16.043, 30.006,
       28.054, 30.07 , 33.998, 36.461, 26.038, 37.467, 34.033, 34.082,
       17.031, 20.049, 31.057, 20.006, 32.042, 18.015, 20.028, 32.045,
       32.066, 36.094, 37.016, 22.032])

In [34]:
ind = [np.where(M == i)[0][0] for i in M_arr1]
form[ind]

array(['Ne', 'N2', 'CO', 'F2', 'Ar', 'O2', 'CH4', 'NO', 'C2H4', 'C2H6',
       'H3P', 'ClH', 'C2H2', 'ClD', 'CH3F', 'H2S', 'H3N', 'D3N', 'CH5N',
       'FH', 'CH4O', 'H2O', 'D2O', 'H4N2', 'S', 'D2S', 'D3P', 'OT2'],
      dtype=object)

In [35]:
pd.DataFrame({"Formula":form[ind],"M":M_arr1})

   Formula       M
0       Ne  20.180
1       N2  28.014
2       CO  28.010
3       F2  37.997
4       Ar  39.948
5       O2  31.999
6      CH4  16.043
7       NO  30.006
8     C2H4  28.054
9     C2H6  30.070
10     H3P  33.998
11     ClH  36.461
12    C2H2  26.038
13     ClD  37.467
14    CH3F  34.033
15     H2S  34.082
16     H3N  17.031
17     D3N  20.049
18    CH5N  31.057
19      FH  20.006
20    CH4O  32.042
21     H2O  18.015
22     D2O  20.028
23    H4N2  32.045
24       S  32.066
25     D2S  36.094
26     D3P  37.016
27     OT2  22.032